[MongoDB]
MongoClient = mongodb+srv://janmejay:1234@cluster0.kpp8r.mongodb.net/myFirstDatabase?retryWrites=true
DatabaseName = platformDeployer
ActiveNodes = ActiveNodes
LoadBalancingCol = LoadBalancing
Deployments = DeploymentDetails
ContainerDetails = ContainerStatus


[WorkerNodes]
#Nodes = [{"Ip" : "127.10.10.10", "Port" : "40000"}, {"Ip" : "127.10.10.10", "Port" : "40001"}, {"Ip" : "127.10.10.10", "Port" : "40002"}]
Nodes = [{"Ip" : "127.10.10.10", "Port" : "40000"}]
ReserveNodes = [{"Ip" : "127.10.10.11", "Port" : "40004"}, {"Ip" : "127.10.10.11", "Port" : "40003"}, {"Ip" : "127.10.10.11", "Port" : "40005"}]
HeartbeatInterval = 20
StatusEndPoint = http://{}:{}/Status
LoadEndPoint = http://{}:{}/GetLoadStats
DeployUrl = http://{}:{}/Deploy
StopContainerUrl = http://{}:{}/StopContainer
CleanContainersUrl = http://{}:{}/CleanContainers
GetAllContainersStatusUrl = http://{}:{}/GetAllContainersStatus
GetLogsUrl = http://{}:{}/GetLogs
RestartFailedContainerUrl = http://{}:{}/RestartFailedContainer
NodeCheckInterval = 10

    
[LoadBalancing]
Ip = 127.15.10.10
Port = 50000
Url = http://{}:{}/GetUrlToDeploy

[monitoring]
MonitorFrequency = 10


[Kafka]
bootStrapServer = 52.15.89.83:9092


[Kafka.ServiceLifecycleManager]
DeploymentTopic = sch_dep
AbortTopic = AbortContainer
DeployResponseTopic = dep_sch
RequestLogsTopic = Get_Logs
ResponseLogsTopic = Acquire_logs
