<!DOCTYPE html>
<style>
.app-list {
    background-color: aqua;
    width: 25%;
}

</style>
    <head>
        <title>Admin Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <!-- <link href={{url_for('static',filename="./style.css")}} rel="stylesheet"> -->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Platform</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signout">Signout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="sensor_registration">Sensors</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <p>Components Status</p>
        <br>
        <div class="d-flex" id="logs">
            
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
        <script type=text/javascript>
        function ajax_query() {
              $.getJSON('./new_logs', {
              }, function(data) {
                  var status='';
                  for (item in data.log){
                    status+=item+' '+data.log[item]+' <br> '
                    //console.log(item,data.log[item])
                  }
                  //console.log(data.log)
                $("#logs").html(status);
              });
              return false;
        }
        setInterval(ajax_query, 3000);
        </script>
    </body>
</html>
